# Numerous always-ignore extensions
*.ai
*.zip
*.psd
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.sass-cache
.sass-cache/*

Files to ignore
#Gemfile.lock
.ruby-version

# OS or Editor folders
.DS_Store
Thumbs.db

# Folders to ignore
_site
node_modules
js/production.min.js
lifechurch.sublime-project
lifechurch.sublime-workspace
.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
