{% if page.opt-in != true %}
  <!--div class="rapid-feedback">
  <a href="/stay-connected" onclick="window.open(this.href,  null, 'height=600, width=640, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Want to stay connected to Life.Church?</a>
  </div-->
{% endif %}

    <div class="give-modal full reveal" data-animation-in="fade-in fast" data-animation-out="fade-out fast" data-deep-link="true" data-reset-on-close="true" data-reveal="" id="giving-app"><div class="giving-loader absolute-center"></div></div>
    <footer class="footer footer-closing">
  <div class="row">
    <div class="footer-closing-copy-fd large-6 medium-12 small-12 columns">
      <p>Join us at <a href="http://live.life.church" target="_blank">Church Online<i class="icon icon-window"></i></a> or a <a href="/locations">Life.Church location</a>.</p>
      <p>&copy; 2021 Life.Church. All rights reserved. <a href="/privacy/">Privacy Policy</a> | <a href="/terms/">Terms of Use</a></p>
    </div>
    
    <nav class="footer-closing-nav-fd large-6 medium-12 small-12 columns">
      <ul class="footer-closing-site-links large-element">
        <li><a href="/media/?utm_source=life.church&utm_medium=website&utm_content=Footer-Watch&utm_campaign=Life.Church">Watch</a></li>
        <li><a href="/locations/?utm_source=life.church&utm_medium=website&utm_content=Footer-Locations&utm_campaign=Life.Church">Locations</a></li>
        <li><a href="/giving/?utm_source=life.church&utm_medium=website&utm_content=Footer-Giving&utm_campaign=Life.Church">Give</a></li>
        <li><a href="/tools/?utm_source=life.church&utm_medium=website&utm_content=Footer-Tools&utm_campaign=Life.Church">Tools</a></li>
        <li><a href="/churches/?utm_source=life.church&utm_medium=website&utm_content=Footer-Churches&utm_campaign=Life.Church">For Churches</a></li>
        <li><a href="/careers/?utm_source=life.church&utm_medium=website&utm_content=Footer-Careers&utm_campaign=Life.Church">Careers</a></li>
        <li><a href="http://gear.life.church?utm_source=life.church&utm_medium=website&utm_content=Footer-Gear&utm_campaign=Life.Church" target="_blank">Gear</a></li>
        <li><a href="/contact/?utm_source=life.church&utm_medium=website&utm_content=Footer-Contact&utm_campaign=Life.Church">Contact Us</a></li>
      </ul>

      <ul class="footer-closing-social-links">
        <li><a href="https://www.facebook.com/life.church?utm_source=life.church&utm_medium=website&utm_content=Footer-Social-Facebook&utm_campaign=Life.Church"><i class="icon-social-facebook"></i> Facebook</a></li>
        <li><a href="https://twitter.com/lifechurch?utm_source=life.church&utm_medium=website&utm_content=Footer-Social-Twitter&utm_campaign=Life.Church"><i class="icon-social-twitter"></i> Twitter</a></li>
        <li><a href="http://instagram.com/life.church?utm_source=life.church&utm_medium=website&utm_content=Footer-Social-Instagram&utm_campaign=Life.Church"><i class="icon-social-instagram"></i> Instagram</a></li>
        <li><a href="http://www.pinterest.com/life_church/?utm_source=life.church&utm_medium=website&utm_content=Footer-Social-Pinterest&utm_campaign=Life.Church"><i class="icon-social-pinterest"></i> Pinterest</a></li>
        <li><a href="http://www.youtube.com/user/LifeChurchtv?utm_source=life.church&utm_medium=website&utm_content=Footer-Social-YouTube&utm_campaign=Life.Church"><i class="icon-social-youtube"></i> YouTube</a></li>
      </ul>
    </nav>

  </div>
</footer>