{% if page.opt-in != true %}
  <div class="rapid-feedback">
  <a href="http://forms.websbyjay.us/embed.php?id=10685" onclick="window.open(this.href,  null, 'height=600, width=640, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Want to stay connected to Thursday Church?</a>
  </div>
{% endif %}

<footer class="closing">
  <div class="container">
    <nav class="closing-nav">
      <ul class="closing-site-links large-element">
        <li><a href="/watch/">Watch</a></li>
        <li><a href="/locations/">Locations</a></li>
        <li><a href="/giving/">Give</a></li>
        <li><a href="/tools/">Tools<a></li>
        <li><a href="/churches/">For Churches</a></li>
        <li><a href="/jobs/">Jobs</a></li>
        <li><a href="/contact/">Contact Us</a></li>
      </ul>

      <ul class="closing-social-links">
      <li><a href="https://www.facebook.com/thursdaychurch2008"><i class="icon-social-facebook"></i> Facebook</a></li>
      <li><a href="https://twitter.com/thursdaychurch"><i class="icon-social-twitter"></i> Twitter</a></li>
      <li><a href="http://www.youtube.com/user/thursdaychurch"><i class="icon-social-youtube"></i> YouTube</a></li>
      </ul>
    </nav>

    <div class="closing-copy">
      <p>Join us at <a href="http://live.thursdaychurch.org" target="_blank">Church Online<i class="icon icon-window"></i></a> or a <a href="/locations">location</a>.</p>
      <p>&copy; 2008-2018 Thursday Church. All rights reserved. <a href="/privacy/">Privacy Policy</a> | <a href="/terms/">Terms of Use</a></p>
    </div>
  </div>
</footer>
