<!-- Navigation -->
<div class="navigation-wrapper">
  <header id="navigation">
    <div class="container">
      <a id="header-logo" title="Life.Church" href="http://www.life.church" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Home');">Life.Church</a>
      {% unless page.section == 'landing' %}
      <nav>
        <a class="nav-live" href="" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Live');">Watch Live <span>Starts soon</span></a>
        <a class="nav-watch" href="/watch/" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Watch');">Watch On Demand</a>
        <a href="/locations/" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Locations');">Locations</a>
        <a href="/giving/" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Give');">Give</a>
        <a href="/who-we-are/" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Who We Are');">Who We Are</a>
        <a class="js-more-trigger" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Menu');"><span class="more-line-1"></span><span class="more-line-2"></span><span class="more-line-3"></span></a>
      </nav>
      {% endunless %}
    </div>
  </header>
</div>




    <!-- Navigation -->
<div class="navigation-wrapper">
  <header id="navigation">
    <div class="row">
      <div class="small-12 columns">
        <a class="logo" href="/">Life.Church</a>
        <nav>
          <div class="left">
            <a class="nav-live" href="https://live.life.church?utm_source=life.church&utm_medium=website&utm_content=Header-Live&utm_campaign=Life.Church" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Live');">CHURCH ONLINE <span data-churchonline-live></span></a>
            <a class="nav-watch" href="/media/?utm_source=life.church&utm_medium=website&utm_content=Header-Watch&utm_campaign=Life.Church" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Watch');">MEDIA</a>
            <a href="/locations/?utm_source=life.church&utm_medium=website&utm_content=Header-Locations&utm_campaign=Life.Church" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Locations');">Locations</a>
            <a href="/giving/?utm_source=life.church&utm_medium=website&utm_content=Header-Giving&utm_campaign=Life.Church" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Giving');">Give</a>
            <a href="/who-we-are/?utm_source=life.church&utm_medium=website&utm_content=Header-WhoWeAre&utm_campaign=Life.Church" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Who We Are');">Who We Are</a>
            <a href="/worship/?utm_source=life.church&utm_medium=website&utm_content=Header-Worship&utm_campaign=Life.Church" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Worship');">Worship</a>
          </div>
          <div class="grid-x align-items-center align-right">
            <ul class="login-wrapper no-bullet m-a-0"><li><a href="/auth/auth0" id="user-login"><img class="avatar" data-no-retina="true" src="" /><span class="login-text"></span></a><ul class="profile-menu no-bullet"><li class="menu-item"><a class="menu-item-link" href="/profile">My Profile</a></li><li class="menu-item"><a class="menu-item-link" href="/contact">Help</a></li><li class="menu-item"><a class="menu-item-link logout" href="#" id="user-logout">Log Out</a></li></ul></li></ul>
            <a href="" class="js-more-trigger main-menu" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Menu');"><span class="more-line-1"></span><span class="more-line-2"></span><span class="more-line-3"></span></a>
          </div>
        </nav>
      </div>
    </div>
  </header>
</div>