---

---
<!doctype html>

  <head>
    {% include header-includes.html %}
    {% include header-social.html %}
  </head>

  <body class="{% if page.class %}{{ page.class }}{% endif %}{% for announcement in site.data.announcement %}{% if announcement.active == true %} has-announcement{% endif %}{% endfor %}">
    {% include announcement.html %}
    {% if page.hero %}<section id="hero" class="hero top {{ page.hero }}">{% endif %}

    {% include navigation.html %}
    {% unless page.section == 'live' or page.section == 'home' or page.section == 'watch' or page.section == 'watch latest' or page.section == 'talkitover' or page.section == 'watch-landing' or page.section == 'jobs' or page.section == 'landing' %} {% include tertiary.html %} {% endunless %}

    {{ content }}

    {% unless page.section == 'landing' %}
    {% include more.html %}
    {% include closing.html %}
    {% endunless %}

    {% include closing-includes.html %}
  </body>
</html>
